<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.oname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.odescription %>
</p>

<p>
  <strong>Time:</strong>
  <%= @order.otime %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @order.ocost %>
</p>

<p>
The weather for <%= @city %> is currently <%= @temp %> degrees celcius and <%= @description %>. Weather data supplied by Open Weather Map.
</p>

<%= link_to 'Back', profile_orders_path(@profile.user_id) %>
